* {margin:0; padding:2px;font-family: Tahoma, Arial, Verdana, sans-serif;font-size: 14px}

tr.even {
      color: black;
      background: #f0f7f0;
}

tr.header {
  color: black;
  text-align: center;
  background: #CCFF99;
}
